html{
	height : 100%;
}

body {
	width: 100%;
	height: 100%;
	position: relative;
}
#tools{
    display: flex;
    height: 10%;
}
#wrapper{
    height: 70%;
    width: 100%;
	position: relative;
}
#search{
    height: 20%;
    width: 100%;
    position: relative;
    background-color: #D34C0F;
}
